<h1>Welcome back,  <%= @user.first_name%>!</h1>

<% if @user.avatar.attached? %>
    <p><%= image_tag(@user.avatar.representation(resize_to_limit: [500, 500]), class: "rounded-circle") %></p>
  <% else %>
    <p>No Image to show!</p>
  <% end %>
  <%= link_to "Edit Profile?", edit_user_registration_path %>


<% @user.attended_events.all.each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <br>
<% end %>