

<div  class="event-hero">
    <div class="event-hero-content">
        <h1 class="display-1">thyme//capsule</h1>
    </div>
</div>

<h2>Upcoming Events: </h2>
<% @events.future.each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <% this_event = event.id %>
    <br>
<% end %>

<h2>Today's Events: </h2>
<% @events.current.each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <% this_event = event.id %>
    <br>
<% end %>

<h2>Past Events: </h2>
<% @events.past.each do |event|%>
    <%= link_to event.title, event_path(event.id)%>
    <% this_event = event.id %>
    <br>
    
<% end %>
