 <ul class="max-w-screen-xl flex flex-wrap items-center justify-around">
        <li><a href="/">Home</a></li>
        <% if user_signed_in? %>
            <li><%= link_to "Profile", profile_path%></li>
            <li><%= button_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            
        <% else %>
            <li><%= button_to "Sign In", new_user_session_path%></li>
        <% end %>
        
</ul> 
